<p class="bg-primary">views/toys/show.html.erb</p>

<h3>Information about <%= @toy.description %></h3>

<div id='pet-info-container'>
  <p><strong>Owner:</strong> <%= @pet.name %></p>
  <p><strong>Description:</strong> <%= @toy.description %>
</div>
